@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vh;
    background-color: black;
}

body {
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background: url('../imagens/fundo-madeira.jpg') no-repeat center top;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 72px;
    left: 14px;
    height: 481px;
    width: 276px;
}

section#redes-sociais {
    text-align: right;
    padding-right: 30px;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.600);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    transition:transform 0.5s;
    transform: translate(-3px, -3px);
    box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.600);
}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
